<div class="container-fluid" id="ho">
	<div class="row">
		<div class="col-xs-4"></div>
		<div id="top" class="col-xs-4">
			<h1>Slope Checker</h1>
		</div>
		<div class="col-xs-4"></div>
	</div>
	<div class="row">
		<div class="col-xs-4"></div>
		<div id="box" class="col-xs-4">
			<h2> Check the current weather conditions at your favorite slopes. Take your Pick:</h2>
			<div>
				<a href="#/playlist" ng-click="background={'background-image': 'url(mtbaker.jpg)'}"><h3>Washington</h3></a>
				<a href="#/discover" ng-click="background={'background-image': 'url(mthood.jpg)'}"><h3>Oregon</h3></a>
			</div>

			<br>

		</div>
		<div class="col-xs-4"></div>
	</div>
	<div class="row">
	</div>
</div>